{% extends 'everes_core/base.html' %}

{% block contents %}
  {% for comment in object_list %}
  <div class="comment post listings hentry">
    <h2 class="cms_title"><a class="cms_link entry-title" href="{{ comment.contents.cast.get_absolute_url }}" rel="bookmark">&nbsp;{{ comment.contents.title }}</a></h2>
    <h3 class="cms_date">{{ comment.create_date|date:"Y年m月d日(D) H:i" }}</h3>
    <div class="article">
        <p class="commentator">commented by {% if comment.url %}<a href="{{ comment.url }}" rel="nofollow">{{ comment.commentator}}</a>{% else %}{{ comment.commentator}}{% endif %}</p>
        <p>{{ comment.body|linebreaksbr }}
    </div>
    <div class="more"><a class="cms_link" href="{{ comment.contents.cast.get_absolute_url }}#comments">read more</a></div>
  </div>
  {% endfor %}    
{% endblock %}